# Ignore virtual environment directories
venv/
ENV/
env/
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variable files
.env

# Ignore other common files
*.log
*.sqlite3
.DS_Store